:root {
  --main-cursor-clr: rgb(0, 0, 0, 0.3);
  --main-cursor-hover-clr: rgb(0, 0, 0, 0.1);
}

body {
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.c-cursor {
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  border-radius: 20px;
  background-color: var(--main-cursor-clr);
  // border: 1px solid;
}
