@mixin btn {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  padding: 18px 14px;
  border: none;
  border-radius: 8px;
  align-self: flex-start;
  text-decoration: none;
  color: var(--dark-clr);
  margin-right: 12px;
  margin-bottom: 12px;
  span {
    text-align: center;
    padding: 0 8px;
  }
  @media screen and (max-width: 800px) {
    padding: 14px 8px;
  }
}

@mixin btn-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
