@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap");
@import "./mixins";

:root {
  --background-clr: #fff;
  --primary-clr: #b5f6ff;
  --preview-back-clr: #fffcee;
  --text-clr: #000000;
  --border-width: 4px;
  --code-bck: #414246;
  --code-clr: #fff;
  --code-file-clr: #ffb68c;
  --link-clr: #f45;
  --link-hover-clr: #224de8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::selection {
  background: var(--primary-clr);
}

body {
  overflow-x: hidden;
  background-color: var(--background-clr);
}

// General
a {
  display: inline-block;
  align-self: flex-start;
}

hr {
  border: none;
  border-bottom: var(--border-width) solid var(--text-clr);
  width: 100%;
  margin: 60px 0;
  outline: none;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  margin: 0;
  margin-bottom: 32px;
  @media screen and (max-width: 800px) {
    font-size: 60px;
  }
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  margin: 0;
  margin-bottom: 24px;
  @media screen and (max-width: 800px) {
    font-size: 50px;
  }
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  margin-bottom: 24px;
}

p {
  margin-top: 0;
  max-width: 560px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  margin: 0;
}

// Sections

.wrap {
  display: flex;
  flex-direction: column;
  height: 1500px;
  padding: 60px 80px;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-clr);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media screen and (max-width: 800px) {
    padding: 30px 20px;
  }
}

.navigation {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.title {
  max-width: 640px;
  user-select: none;
  &-header {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120px;
    line-height: 96%;
    margin: 0;
    @media screen and (max-width: 800px) {
      font-size: 80px;
    }
  }
  &-subheader {
    font-size: 30px;
    line-height: 140%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 20px 0;
    text-transform: unset;
    @media screen and (max-width: 800px) {
      font-size: 24px;
    }
  }
  a {
    color: var(--link-clr);
    transition: color 0.2s ease-in-out;
    border-radius: 4px;
    &:hover {
      color: var(--text-clr);
    }
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border-width) solid var(--text-clr);
  padding-bottom: 80px;
  margin-bottom: 60px;
  .preview {
    flex: 1 1 50%;
    border: var(--border-width) solid var(--text-clr);
    background-color: var(--preview-back-clr);
    min-height: 250px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_last {
      border-top: 0;
    }
    @media screen and (max-width: 800px) {
      justify-content: flex-start;
      padding: 32px;
    }
  }
  .code {
    flex: 1 1 50%;
    background-color: var(--code-bck);
    padding: 16px 32px;
    color: var(--code-clr);
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    span {
      margin-bottom: 16px;
    }
    &-file {
      margin: 16px 0;
      font-weight: 700;
      color: var(--code-file-clr);
    }
  }
  .codepreview {
    display: flex;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
}

//

.btn-wrap {
  display: flex;
  @media screen and (max-width: 800px) {
    justify-content: center;
    flex-direction: column;
  }
}

.btn {
  &-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    &-ava {
      border-radius: 100px;
      background-image: url("../assets/ava.jpg");
    }
    svg {
      width: 100%;
      height: 100%;
      fill: var(--text-clr);
    }
  }
  &-primary {
    @include btn;
    background: var(--primary-clr);
  }
  &-transparent {
    @include btn;
    background-color: transparent;
  }
  &-colormode {
    @include btn;
    background: var(--primary-clr);
    &:hover {
      .moon-icon {
        &::after {
          left: -6px;
        }
        &_active {
          &::after {
            left: 14px;
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      span {
        display: none;
      }
    }
  }
}

.moon-icon {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  background-color: var(--text-clr);
  position: relative;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--primary-clr);
    display: block;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: left 0.2s ease-in-out;
  }
  &_active {
    &::after {
      left: -6px;
    }
  }
}

//
.darkmode {
  --background-clr: #282828;
  --primary-clr: #224de8;
  --preview-back-clr: #212121;
  --text-clr: #f6e7bf;
  --border-width: 4px;
  --main-cursor-clr: rgb(255, 255, 255, 0.2);
  --main-cursor-hover-clr: rgb(255, 255, 255, 0.1);
}
